#python=3.6
aiodns==1.1.1
aiohttp==3.3.1
appdirs==1.4.3
Appium-Python-Client==0.26
appnope==0.1.0
argh==0.26.2
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
Automat==0.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
black==18.5b0
bleach==2.1.3
blinker==1.4
brotlipy==0.7.0
cchardet==2.1.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
constantly==15.1.0
construct==2.8.22
coverage==4.5.1
cryptography==2.2.2
cssselect==1.0.3
cssutils==1.0.2
decorator==4.3.0
defusedxml==0.5.0
demjson==2.2.4
Django==2.0.5
django-cors-headers==2.3.0
docopt==0.6.2
EditorConfig==0.12.2
entrypoints==0.2.3
eyeD3==0.8
Flask==0.12.2
Flask-Login==0.4.1
Flask-Redis==0.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gerapy==0.8.5
get==1.0.3
h11==0.7.0
h2==3.0.1
hpack==3.0.0
html2text==2016.9.19
html5lib==1.0.1
hyperframe==5.1.0
hyperlink==18.0.0
idna==2.6
idna-ssl==1.0.1
incremental==17.5.0
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.3
jsbeautifier==1.6.14
jsmin==2.2.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kaitaistruct==0.8
ldap3==2.5
lxml==4.2.2
MarkupSafe==1.0
mistune==0.8.3
mitmproxy==4.0.3
multidict==4.3.1
Music-Player==1.0.5.1
mysql-connector-python==8.0.11
mysqlclient==1.3.12
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
notebook==5.5.0
numpy==1.14.3
oauthlib==2.1.0
packaging==17.1
pandocfilters==1.4.2
parsel==1.4.0
parso==0.2.1
passlib==1.7.1
pathtools==0.1.2
pbr==4.0.3
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
post==1.0.2
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.4.6
ptyprocess==0.6.0
public==1.0.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycares==2.3.0
pycparser==2.18
pycryptodome==3.6.3
pycurl==7.43.0.2
PyDispatcher==2.0.5
Pygments==2.2.0
pymongo==3.6.1
PyMySQL==0.9.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyperclip==1.6.2
PyQt5==5.10.1
pyquery==1.4.0
PySocks==1.6.8
pyspider==0.3.10
pyte==0.8.0
python-dateutil==2.7.3
python-scrapyd-api==2.1.2
pytz==2018.4
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
Quamash==0.6.0
query-string==1.0.2
queuelib==1.5.0
redis==2.10.6
request==1.0.2
requests==2.18.4
requests-oauthlib==1.0.0
ruamel.yaml==0.13.14
Scrapy==1.5.0
scrapy-redis==0.6.8
scrapy-splash==0.7.2
scrapyrt==0.10
selenium==3.12.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
sortedcontainers==1.5.10
SQLAlchemy==1.2.1
stevedore==1.28.0
tblib==1.3.2
terminado==0.8.1
tesserocr==2.2.2
testpath==0.3.1
thefuck==3.27
tornado==4.4.3
traitlets==4.3.2
Twisted==18.4.0
u-msgpack-python==2.5.0
urllib3==1.22
urwid==2.0.1
utils==0.9.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
w3lib==1.19.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
WsgiDAV==2.4.0
wsproto==0.11.0
WTForms==2.1
yarl==1.2.5
zope.interface==4.5.0
